{{ define "title" }} About {{ end }}

{{ define "content" }}
    <div class="center1">
        <!-- Card -->
        <div class="card">
            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>DNA Sequence Converter</a></h4>
                <!-- Text -->
                <p class="card-text">DNA Sequence Converter is a tool that converts DNA/mRNA/Proteins to different format.<br>
                If you have an issue please send an email to <a href="mailto:matan@matanbudimir.de">matan@matanbudimir.de</a>.</p>
                <!-- Button -->

            </div>

        </div>
        <!-- Card -->
    </div>
{{ end }}