{{ define "title"}} Home {{ end }}

{{ define "content"}}
    <form method="POST" action="/convert" class="center1">
        <div>
            <select class="form-control" name="type">
                <option value="DNA">DNA Sequence</option>
                <option value="RNA">RNA Sequence</option>
            </select>
            <br>
            <input required class="form-control" name="sequence" placeholder="TTCTGACGCATACCTCCTTCGTTGAGAACTC">
            <br>
            <center><button class="btn btn-primary">Convert</button></center>
        </div>
    </form>
{{ end }}